*{
    margin:0;
    padding:0;

}

html{
    height:100%;
    position:relative;
}

body {
    min-height:calc(100% - 171px);
    position: relative;
    padding-bottom: 171px;
}

.m-header{
   background-color:#b01616;
   margin-bottom:10px;
}

.m-header::after{
    content:" ";
    clear:both;
    display:block;
   visibility:none;
}

.m-logo{
    height:100px;
 
}

.m-nav{
    float:right;
}

.m-nav ul li{
    display:inline-block;
}

.m-nav ul li a{
    color:white;
    padding: 20rem;
   text-decoration:none;
    float:right;
    line-height:60px;
   
}

p{
    color:#b01616;
    text-indent:1.5em;
    font-size: 25px;
   
  

}



sticker {

    color:#b01616;

}

a {
    color:#b01616;
}

span {
    color:white;
    
}

h1, h2, h3, h4, h5, h6{
    margin-bottom: 10px;
    color:#b01616;
   
}

h1{
    font-size:48px;
}

.colorPic{
    color:#b01616;
}

.box1{
    background-color:#b01616;
}

.box2{
    background-color:#b01616;
}

.listOfArticles{
    text-decoration: none;
}

#Contact{
    text-decoration: underline;
}

#About{
    text-decoration: underline;
}



.m-footer{
    background: #b01616;
    position:absolute;
    
     bottom:0;
     left: 0;
     right: 0;
   
   
     }





